@font-face {
  font-family: DINProBlack;
  src: url("/assets/fonts/DINPro-Black.otf") format("truetype");
}

@font-face {
  font-family: DINProBold;
  src: url("/assets/fonts/DINPro-Bold.otf") format("truetype");
}

@font-face {
  font-family: DINProMedium;
  src: url("/assets/fonts/DINPro-Medium.otf") format("truetype");
}

@font-face {
  font-family: DINProLight;
  src: url("/assets/fonts/DINPro-Light.otf") format("truetype");
}

@font-face {
  font-family: DINProRegular;
  src: url("/assets/fonts/DINPro-Regular.otf") format("truetype");
}
